<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment::head">
    HEAD
</head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
        <nav th:replace="fragments/fragment::navbar">
            NAVBAR
        </nav>
    </header>

    <section class="road" th:each="r : ${allRoutes}">
        <img th:src="*{r.getPictures().get(0)}" alt="Title image">
        <div>
            <h2 th:text="${r.name}">Your Route</h2>
            <p th:text="${r.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo
                non repellendus?
                Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>
            <a th:href="@{/routes/{id}(id=${r.id})}" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/fragment::footer">

</footer>
</html>